---
ci:
    autoupdate_schedule: quarterly

repos:
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        language_version: python3 # Should be a command that runs python3.6+

  - repo: https://github.com/PyCQA/flake8
    rev: '7.0.0'
    hooks:
    - id: flake8
      args: [--count, --show-source, --statistics]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.5.0'
    hooks:
    - id: pretty-format-json
      args: [--autofix, --no-ensure-ascii, --indent=4, --top-keys, '$schema,$id,type,properties']
