{% extends "base.html" %} 

{% block css %}
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="static/favicon.png">
{% endblock css %}

{% block body %}
<main>
    <h2>Total number of apps: {{ apps | length }}</h2>

    <h1>
        Available apps (alphabetically sorted)
    </h1>

    <div id='entrylist'>
        {% for app_name, app in apps.iteritems() %}
        <div class='submenu-entry'>
        <h2><a href="{{ app.subpage }}">{{ app_name }}: {{ app.metainfo.title }}</a></h2>
        {% if app.metainfo.description %}
        <p class=description>{{app.metainfo.description}}</p>
        {% endif %}
        <p class="currentstate">Current state: {{ app.metainfo.state }}</p>
        <p><a href="{{ app.git_url }}" target="_blank">app homepage</a> 
        {% if app.hosted_on %}
        <span style="font-size: 90%">(hosted on {{ app.hosted_on }})</span>
        {% endif %}
        </p>
        {% if app.documentation_url %}
            <p>
                <strong>Documentation</strong>: <a href="{{ app.documentation_url }}" target="_blank">Go to app documentation</a>
            <p>
        {% else %}
            <p>
                <strong>Documentation</strong>: Documentation not provided by the app author
            <p>
        {% endif %}
	{% if app.summaryinfo %}
        <p class="summaryinfo">
            {% for summaryinfoelem in app.summaryinfo %}
            <span class="badge"> 
                <span class="badge-left {{summaryinfoelem.colorclass}}">{{summaryinfoelem.text}}</span>
                <span class="badge-right">{{summaryinfoelem.count}}</span>
            </span>
            {% endfor %}
        </p>
	{% endif %}
        <p class='details'><a href="{{ app.subpage }}">Show app details</a></p>
        </div>
        
        {#
            {% if not loop.last %}
            <hr>
            {% endif %} 
        #}
        {% endfor %}
    </div>

</main>
{% endblock body %}
