# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: deploy

on:
  push:
    branches:
      - master
  schedule:
    - cron: 25/20 * * * *
  workflow_dispatch:

jobs:
  test-and-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install \
          -r ./requirements.txt \

    - name: Build GH pages
      run: |
        "${GITHUB_WORKSPACE}/build.sh"
        cp -r "${GITHUB_WORKSPACE}/build/" ${{ runner.temp }}/

    - uses: actions/checkout@v2
      with:
        ref: 'gh-pages'

    - name: Commit updates
      id: commit
      continue-on-error: true  # for expected error condition, see below
      run: |
        rm -rfv "${GITHUB_WORKSPACE}/*"
        cp -r ${{ runner.temp }}/build/* "${GITHUB_WORKSPACE}"/
        git add -A .
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        # The following command fails if there are no updates (e.g. README change):
        git commit -m "Deploy to GitHub Pages: ${GITHUB_SHA}"

    - name: Deploy
      uses: ad-m/github-push-action@v0.6.0
      if: steps.commit.outcome == 'success'
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
